.site-header {
  z-index: 10;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #fff;

  @media screen and (min-width: 1250px) {
    justify-content: space-between;
    flex-direction: row;
  }

  .nav-logo {
    align-self: flex-start;
    padding: 10px 5px 5px;

    a {
      img {
        max-width: 200px;
        height: auto;

        @media screen and (min-width: 768px) {
          max-width: 314px;
          height: auto;
        }
      }
    }
  }

  .nav-links {
    display: none;
    width: 100%;

    @media screen and (min-width: 1250px) {
      display: block;
      background-color: #fff;
    }

    ul {
      background-color: #F7F8FA; /* off-white */
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      /* prevent dropdown menu from pushing content down */
      position: absolute;
      width: 100%;

      @media screen and (min-width: 1250px) {
        flex-direction: row;
        position: static;
        background-color: transparent;
      }

      li {
        list-style: none;
        position: relative;

        a {
          font-size: 14px;
          font-weight: 500;
          text-transform: none;
          color: #475569; /* slate gray */
          letter-spacing: 0.3px;
          padding: 10px 15px;
          text-decoration: none;
          display: block;
        }

        &:hover {
          background-color: #0B1F3B; /* deep navy */
        }

        &:hover a {
          color: #F7F8FA; /* off-white for contrast */
        }
      }
    }
  }

  button {
    cursor: pointer;
    background-color: #F7F8FA; /* off-white */
    border: 1px solid #E5E7EB;
    border-radius: 10px;

    width: 44px;
    height: 40px;
    max-width: 50px;

    display: grid;
    place-items: center;

    position: absolute;
    top: 10px;
    right: 10px;

    transition: border-color 120ms ease, background-color 120ms ease;

    @media screen and (min-width: 768px) {
      top: 14px;
    }

    @media screen and (min-width: 1250px) {
      display: none;
    }

    &:hover,
    &:focus {
      border-color: #2F6FED; /* muted blue */
      background-color: #FFFFFF;
      outline: none;
    }

    img {
      width: 18px;
      height: 18px;
      display: block;
      opacity: 0.92;
    }
  }
} /* closes .site-header */

/* toggle menu */
.nav-links.active {
  display: block;
}
