.site-header {
  z-index: 10;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #fff;
  @media screen and (min-width: 1250px) {
    justify-content: space-between;
    flex-direction: row;
  }
  .nav-logo {
    align-self: flex-start;
    padding: 10px 5px 5px;
    a {
      img {
        max-width: 200px;
        height: auto;
        @media screen and (min-width: 768px) {
          max-width: 314px;
          height: auto;
        }
      }
    }
  }
  .nav-links {
    display: none;
    width: 100%;
    // background-color: #def0ff;
    @media screen and (min-width: 1250px) {
      display: block;
      background-color: #fff;
    }
    ul {
      background-color: rgba($color: #def0ff, $alpha: 0.95);
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // prevent dropdown menu from pushing content down
      position: absolute;
      width: 100%;
      @media screen and (min-width: 1250px) {
        flex-direction: row;
        position: static;
        background-color: transparent;
      }

      li {
        list-style: none;
        // prevent dropdown menu from pushing content down
        position: relative;
        a {
          font-size: 18px;
          text-transform: uppercase;
          font-family: 400;
          color: #7f53ac;
          letter-spacing: 1.2px;
          padding: 10px 15px;
          text-decoration: none;
          display: block;
        }
      }
      li:hover {
        background-color: #efe0ff;
      }
    }
  }
  button {
  cursor: pointer;
  background: transparent;

  /* subtle, professional border */
  border: 1px solid rgba(229, 231, 235, 0.35);
  border-radius: 10px;

  max-width: 50px;
  width: 44px;
  height: 40px;

  display: grid;
  place-items: center;

  position: absolute;
  top: 10px;
  right: 10px;

  transition: border-color 120ms ease, background-color 120ms ease;

  @media screen and (min-width: 768px) {
    top: 14px;
  }

  @media screen and (min-width: 1250px) {
    display: none;
  }

  &:hover,
  &:focus {
    border-color: rgba(47, 111, 237, 0.65); /* muted blue */
    background-color: rgba(255, 255, 255, 0.04);
    outline: none;
  }
}

.nav-links.active {
  display: block;
}
